.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  height: 260px;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info .message {
  font-size: 2rem;
  font-weight: bold;
}

.info img {
  border-radius: 50%;
}

.btn-container {
  margin: 20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.btn {
  background-color: darkviolet;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
}
