.loading {
  display: flex;
  justify-content: center;
}
.loading .loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top: 5px solid #111;
  transform: rotate(0deg);
  animation: loading 500ms ease-in-out infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
